*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu ul {
display: flex;
margin: 0;
background-color: rgb(183, 202, 8);
list-style: none;
font-size: 150%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: blue;

}

#menu ul li {
display: inline;
}

#menu ul li a {
padding: 25px 100px;
display: inline-block;
color: white;
text-decoration: none;
border: 1px solid black;

}
.child {
    background-color: rgb(204, 118, 19);
    font-size: 100%;
}
#menu ul li a:hover {
color:rgb(0, 3, 3);
}

